$white: #fff;
$black: #141414;
$grey: #afafaf;
$darkGrey: #797979;
$lightGrey: #d9d9d9;
$colorLessFrame: rgba(0, 0, 0, 0.3);
$colorLessFrame2: rgba(0, 0, 0, 0.5);
$cloudyWhite: #f5f5f5;
$yellow: #FF9900;
$yellowHover: #fc9700be;
$swiperNumColor: rgba(255, 255, 255, 0.4);
$colorPricesConsultation: rgba(255, 255, 255, 0.1);
$tableColor: #F8F8F8;
$colorHoverButtons: rgba(0, 0, 0, 0.7);
$headerNotScrollify: rgba(0, 0, 0, 0.30);
$headerScrollify: rgba(255, 255, 255, 0.3);