@import "../modules/mixins";

.footer {
    background: $black;
    color: $white;
    width: 100%;
    padding: 4.18rem 1.67rem;
    flex: 1 1 65%;
    @media (max-width: 767px) {
        flex: 0 0;
    }
    &-item{
        width: 100%;
    }
    &-error-404 {
        @media (max-width: 767px) {
            display: block;
            height: auto !important;
        }
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            row-gap: 1.25rem;
            width: 100%;
            max-width: 35rem;
            border-radius: 0.4rem;
        }
    }
    &-requisites {
        &__text {
            color: $white;
            font-family: Montserrat Regular;
            @include adaptiv-font(1.5, 1.2);
            font-weight: 400;
            line-height: 140%;
        }
    }
    &__logo {
        color: $white;
        font-family: Montserrat Regular;
        @include adaptiv-font(3.4, 2.4);
        font-weight: 400;
        line-height: 140%;
    }
    &__title {
        color: $white;
        font-family: Montserrat Medium;
        @include adaptiv-font(2, 1.6);
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 0.42rem;
    }
    &__link {
        color: $white;
        font-family: Montserrat Regular;
        @include adaptiv-font(1.5, 1.2);
        font-weight: 400;
        line-height: 140%;
    }
    &__policy {
        color: $white;
        font-family: Montserrat Regular;
        @include adaptiv-font(1.17, 1);
        font-weight: 400;
        line-height: 140%;
    }
    &-rights {
        color: $white;
        font-family: Montserrat Regular;
        @include adaptiv-font(1.17, 1);
        font-weight: 400;
        line-height: 140%;
    }
    &__schedule {
        color: $white;
        text-align: right;
        font-family: Montserrat Regular;
        @include adaptiv-font(1.5, 1.2);
        font-weight: 400;
        line-height: 140%;
    }
    &-call {
        color: $white;
        font-family: Montserrat Medium;
        @include adaptiv-font(1.17, 1);
        font-weight: 500;
        line-height: 1.42rem;
        border-radius: 1rem;
        border: 2px solid $white;
        padding: 0.92rem 0;
        width: 14.38rem;
    }
    &-social {
        display: flex;
        column-gap: 1.67rem;
        align-items: center;
        justify-content: flex-end;
    }
    &__num {
        color: $white;
        font-family: Montserrat Medium;
        @include adaptiv-font(2, 1.4);
        font-weight: 500;
        line-height: 140%;
    }
    &-contacts {
        text-align: right;
        row-gap: 1.67rem;
        align-items: flex-end;
        @media (max-width: 767px) {
            text-align: left;
            align-items: start;
        }
    }
    &__social {
        &-logo {
            width: 2.67rem;
            height: 2.67rem;
        }
    }
    &-requisites{
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
    }
    &-contacts{
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        &-desktop{
            @media(max-width: 767px) {
                display: none;
            }
        }
        &-mobile{
            display: none;
            @media(max-width: 767px) {
                display: block;
            }
        }
    }
}

// .footer .dropdown-item{
//     @media(min-width: 767px) {
//         display: flex;
//     }
// }

.footer .dropdown-item input:checked ~ .dropdown-item-content {
    padding: 1.5rem 0;
}

.footer .dropdown-item-toogle{
    display: none;
    @media(max-width: 767px) {
        display: block;
    }
}

.footer .dropdown-item label::after {
    display: none;
    @media(max-width: 767px) {
        display: block;
    }
}

.footer .dropdown-item-content{
    max-height: 100vh;
    opacity: 1;
    transform: scaleY(1);
    padding-top: 1.25rem;
    @media(max-width: 767px) {
        max-height: 0;
        opacity: 0;
        transform: scaleY(0);
    }
}